<%- include('../_partial/_header'); -%>

<h1> List of Modules Teacher : <%= teacher_name[0].USER_NAME %></h1>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Module name</th>
      </tr>
    </thead>
    <tbody>
    	<%
    		for (var i=0; i < data_module.length; i++)
    		{
    			%>
    				<tr>
    					<th scope="col"><%= data_module[i].ID_MODULES %></th>
    					<td><%= data_module[i].NAME_MODULE %></td>
    				</tr>
    			<%
    		}
    	%>
    </tbody>
  </table>

<%- include ('../_partial/_footer'); -%>