<%- include('../_partial/_header_delegues'); -%>

    <h1>Welcome to delegue page</h1>
    <% for(var i=0;i < data.length; i++){ %>
        <h1>
            <div class="card-deck">
                <div class="card">

                    <div class="input-group">
                        <p class="card-title">Module:
                            <%= data[i].NAME_MODULE %>
                        </p>
                        <% if (data[i].TYPE==0){%>
                            <h5 class="card-text">Commentaire:
                                <%= data[i].REPONSE %>
                            </h5>
                            <% }else{ %>
                                <h5 class="card-text">Question:
                                    <%= data[i].QUESTION %>
                                </h5>
                                <h5 class="card-text">Response:
                                    <%= data[i].REPONSE %>
                                </h5>
                                <% } %>
                                    <form method="POST" action="/delegue">
                                        <div class="input-group input-group-sm">
                                            <label class="radio-inline">
                                                <input type="radio" name="ret_value" id="inlineRadio1" value="Accept"><h6>Accept</h6> 
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="ret_value" id="inlineRadio2" value="Refuse"> <h6>Refuse</h6>
                                            </label>

                                            <input type="hidden" name="id_resp" value=<%=data[i].ID_RESP%> >
                                            <div>
                                                <input type="submit" class="btn btn-primary" value="Apply" />
                                            </div>
                                        </div>

                                    </form>
                    </div>


                </div>

        </h1>
        <% } %>

            <%- include ('../_partial/_footer'); -%>