<%- include('../_partial/_header_with_login'); -%>

    <h1>Welcome to Home page.</h1><br />

    <%
        var y;
        for (var i=0; i < data.length; i = i+3)
        {
            %>
                <div class="row">
            <%
            if (i+3 <= data.length)
                y = 3;
            else
                y = data.length - i;

            for (var z=0; z < y; z++)
            {
                %>
                    <div class="col-md-4 text-center">
                        <a href="Section/<%= i+z %>"> <img src="<%= data[i+z].LINK %>" height="250" width="250"/> </a>
                        <p><%= data[i+z].NAME_SECTION %></p>
                    </div>
                <%
            }
            %>
                </div>
            <%
        }
    %>

<%- include('../_partial/_footer'); -%>