<%- include('../_partial/_header'); -%>

    <h1 style="color:rgb(255, 72, 0);" > <img src="/images/insa.gif" height="50" width="200"/> Welcome to EvaluInsa.</h1><br />
     

    <%
        var y;
        for (var i=0; i < data.length; i = i+3)
        {
            %>
                <div class="row">
            <%
            if (i+3 <= data.length)
                y = 3;
            else
                y = data.length - i;

            for (var z=0; z < y; z++)
            {
                %>
                    <div class="col-md-4 text-center">
                        <a href="/section/<%= i+z %>"> <img src="<%= data[i+z].LINK %>" height="250" width="250"/> </a>
                        <p style = "font-weight: bold " ><a href="/section/<%= i+z %>"> <%= data[i+z].NAME_SECTION %> </a></p>
                    </div>
                <%
            }
            %>
                </div>
            <%
        }
    %>

<%- include('../_partial/_footer'); -%>