<%- include('../_partial/_header'); -%>

    <h1>Welcome to prof page
        <%= userId.username %>
    </h1><br />

    <%
    	if (data_module.length > 0)
    	{
    		%>
        <div class="row">
            <%
    		for (var i=0; i < data_module.length; i++)
    		{
    			%>
                <div class="col-md-4 text-center">
                    <%
                            for (var y=0; y < data_section.length; y++)
                            {
                                if (data_section[y].ID_SECTION == data_module[i].ID_SECTION)
                                {
                                    %>
                        <h5>
                            <%= data_section[y].NAME_SECTION %> :</h5>
                        <%
                                    break;
                                }
                            }
                        %>
                            <a href="/prof/module/<%= data_module[i].ID_MODULES %>">
                                <h3>
                                    <%= data_module[i].NAME_MODULE %>
                                </h3>
                            </a>
                            <p>note : <%= data_module[i].MOYEN_NOTE %> / 10</p>
                            <h4>
                                <%= data_module[i].DESCRIPTION %>
                            </h4>
                </div>
                <%
    		}
    		%>
        </div>
        <%
    	}
    	else
    	{
    		%>
            <h4>you did not create a module</h4>
            <%
    	}
    	
    %>

                <%- include ('../_partial/_footer'); -%>