<%- include('../_partial/_header'); -%>

	<%
		if (param >= 0 && param < data_module.length)
		{
			%>
				<h1 id="center_text">Comments for module "<%= data_module[param].NAME_MODULE %>"</h1><br /><br />

				<form method="post">
					<%
						var count = 0;
						for (var i=0; i < data_quest_mod.length; i++)
						{
							if (data_quest_mod[i].ID_MODULES == param)
							{
								%>
									<h4><%= data_question[ data_quest_mod[i].ID_QUESTION ].QUESTION %></h4>
									<textarea class="form-control" name="reponse_<%= i %>" rows="5" style="width: 500px;" required></textarea><br />
								<%
								count++;
							}
						}
						if (count <= 0)
						{
							%>
								<h4>No question in this module</h4>
							<%
						}
					%>
					note : <input type="number" name="note" min="0" max="10" /> /10 <br /><br />
					<h4>Laisser un commentaire</h4>
					<textarea class="form-control" name="commantaire" rows="5" style="width: 500px;" required></textarea><br />
					<input type="submit" class="btn btn-primary" value="Submit" /> <br />
				</form>
			<%
		}
		else
		{
			%>
				<h1>This module do not existe</h1>
			<%
		}
	%>

<%- include ('../_partial/_footer'); -%>